@import 'variables';

.filters {
  text-align: center;
  margin-bottom: 1rem;
}

.normal {
  margin: 1rem;
  width: 100px;
  padding: 0.5rem;
  font-size: 0.8rem;
  outline: none;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid transparent;
  transition: all ease-in-out $huiyin-ease-time;
  cursor: pointer;
  color: $huiyin-white;

  &:hover {
    border-color: $huiyin-red;
  }

  &.active {
    background-color: $huiyin-red;
  }
}

.selected {
  composes: normal;
  color: $huiyin-white;
  border: 2px solid $huiyin-red;
  background-color: $huiyin-red;
}

.angels {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 216px;
}

.angel {
  padding: 1rem;
  position: relative;
  box-sizing: border-box;
  position: absolute;
  transition: left ease-in-out $huiyin-ease-time;

  a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: white;
  }
  h2 {
    font-size: 1.2rem;
  }
}


.logo {
  background-color: white;
  height: 130px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 80px 80px;
  background-position: center center;
  background-color: transparent;
  border-bottom: 1px solid lightgray;
}