/* Base Application Styles */
$base-color: rgb(85, 85, 85);
$black: #1d2025;

@font-face {
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Roboto-Slab-regular/Roboto-Slab-regular.eot');
  src: url('/fonts/Roboto-Slab-regular/Roboto-Slab-regular.eot?#iefix') format('embedded-opentype'), local('Roboto Slab Regular'), local('Roboto-Slab-regular'), url('/fonts/Roboto-Slab-regular/Roboto-Slab-regular.woff2') format('woff2'), url('/fonts/Roboto-Slab-regular/Roboto-Slab-regular.woff') format('woff'), url('/fonts/Roboto-Slab-regular/Roboto-Slab-regular.ttf') format('truetype'), url('/fonts/Roboto-Slab-regular/Roboto-Slab-regular.svg#RobotoSlab') format('svg');
}
@font-face {
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Roboto-Slab-700/Roboto-Slab-700.eot');
  src: url('/fonts/Roboto-Slab-700/Roboto-Slab-700.eot?#iefix') format('embedded-opentype'), local('Roboto Slab Bold'), local('Roboto-Slab-700'), url('/fonts/Roboto-Slab-700/Roboto-Slab-700.woff2') format('woff2'), url('/fonts/Roboto-Slab-700/Roboto-Slab-700.woff') format('woff'), url('/fonts/Roboto-Slab-700/Roboto-Slab-700.ttf') format('truetype'), url('/fonts/Roboto-Slab-700/Roboto-Slab-700.svg#RobotoSlab') format('svg');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Raleway-regular/Raleway-regular.eot');
  src: url('/fonts/Raleway-regular/Raleway-regular.eot?#iefix') format('embedded-opentype'), local('Raleway'), local('Raleway-regular'), url('/fonts/Raleway-regular/Raleway-regular.woff2') format('woff2'), url('/fonts/Raleway-regular/Raleway-regular.woff') format('woff'), url('/fonts/Raleway-regular/Raleway-regular.ttf') format('truetype'), url('/fonts/Raleway-regular/Raleway-regular.svg#Raleway') format('svg');
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  color: $base-color;
}
h2, h3 {
  font-family: "Roboto Slab", serif;
}
.content h3 {
  font-size: 1.625rem;
  text-align: center;
}
ul {
  padding: 0;
}
p {
  font-family: 'Raleway', sans-serif;
  line-height: 2rem;
  font-size: 1rem;
}
.content {
  width: 980px;
  margin: 0 auto;
  padding: 2rem 0 4rem 0;
}
ul.menu {
  padding: 0;
  color: white;

  li {
    list-style-type: none;
    display: inline;
    padding: 0.5rem 1rem;
  }
  a {
    text-decoration: none;
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }
}
.section:nth-child(even) {
  background-color: $black;
}
.before-animate {
  opacity: 0;
}
.animated {
  animation-duration: 450ms;
  animation-fill-mode: both;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInUp {
  animation-name: fadeInUp;
}