:global(.container) {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}

:global(.section) {
  padding: 2rem 0;
  h1 {
    position: relative;
    font-size: 1.625rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3rem;

    &:after {
      content : '';
      position: absolute;
      bottom: -1rem;
      border-bottom: 2px solid $huiyin-red;
      width: 70px;
      left: calc(50% - 35px);
    }
  }
}

:global(.dark) {
  background-color: $huiyin-black;
  background-image: url(/images/background.jpg);
  background-attachment: fixed;
}

:global(.dark.section h1) {
  color: $huiyin-white;
  &:after {
    border-color: $huiyin-white;
  }
}


:global(.light) {
  background-color: white;
}
