.masthead {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 3em;
    color: white;
  }
}
