.tabs {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-top: 6rem;
  li {
    list-style: none;
    margin: 1rem;
  }
}

.tab {
  width: 50%;
  text-align: center;
  padding: 1rem;
}

.main {
  padding: 2rem 0;
  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      line-height: 2rem;
    }
  }
}