.details {
  
  display: flex;
  flex-direction: row;

  a {
    color: #1d2025;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  aside {
    padding: 0 1rem;
    li {
      padding: 0.5rem 1rem;
      border-right: 1px solid gray;
      &.active {
        border: 1px solid gray;
        border-right: none;
      }
    }
  }
  section {
    padding: 0 1rem;
  }
  ul {
    padding: 0;
  }
  li {
    list-style: none;
    line-height: 2rem;

    &.active {
      color: red;
    }
  }
}
