
$huiyin-red: #E00000;
$huiyin-black: #1D2025;
$huiyin-white: rgba(255,255, 255, 0.95);

$huiyin-ease-time: 200ms;


$black: #1d2025;
$red: #E00000;



$base-color: rgb(85, 85, 85);

$content-width: 980px;