#angels ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.angel-filters {
  text-align: center;
}

.angel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  border: 1px solid gray;
  width: 100px;
  height: 120px;
  background-color: white;
  margin: 1rem 2.4rem;

  img {
    margin-top: 1rem;
    width: 48px;
    height: 48px;
  }
  a {
    text-align: center;
    width: 100px;
  }
}
