$red: #E00000;
$content-width: 980px;
$header-active-bg: rgba(0, 0, 0, .82);

#navbar {
  margin: 0 auto;
  position: fixed;
  width: 100%;
  transition: background-color ease-in-out 200ms;
  z-index: 100;

  header.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    transition: padding ease-in-out 200ms;
  }
  .menu {
    text-transform: uppercase;
    font-size: 0.8rem;
  }
}
.active.fixed ~ .content {
  padding-top: 5rem;
}
#navbar.active {
  background-color: white;
  box-shadow: rgba(0,0,0,0.3) 0px 2px 5px 0px;
  a {
    color: rgba(0,0,0, 0.8);
  }

  header.content {
    padding: 0.5rem 0;
  }
}
#logo {
  display: flex;
  flex-direction: row;
  align-items: center;

  path {
    fill: $red;
  }
  h1 {
    color: $red;
    font-size: 1.5rem;
    margin-left: 1rem;
  }
}
