$red: #E00000;
$content-width: 980px;

#navbar {
  margin: 0 auto;
  position: fixed;
  width: 100%;
  transition: background-color ease-in-out 200ms;
  z-index: 100;

  header .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    transition: padding ease-in-out 200ms;
  }

  .menu {
    text-transform: uppercase;
  }
}

#navbar.active {
  background-color: rgba(0,0,0,0.82);
  header .content {
    padding: 0.5rem 0;
  }
}

#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  path {
    fill: $red;
  }
  h1 {
    color: $red;
    font-size: 1.5rem;
    margin-left: 1rem;
  }
}
