.team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
}

.person {
  margin: 1rem;
  img {
    border-radius: 50%;
  }
  h4 {
    text-align: center;
  }
}

.team-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  li {
    display: flex;
    flex-grow: 1;
    padding: 1rem;
    text-align: center;
    list-style: none;
    display: inline-block;
    border-bottom: 2px solid lightgray;
    &.active {
      border-bottom: 2px solid #E00000;
    }
  }
}
