.team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
}

.person {
  margin: 5rem;
  position: relative;
  width: 300px;
  height: 400px;
  overflow: hidden;
  img {
    border-radius: 0 1rem;
    width: 300px;
    height: 400px;
  }
  h4 {
    text-align: center;
  }
  .description {
    box-sizing: border-box;
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: #E00000;
    // opacity: 0.5;
    color: white;
    top: 0;
    transform: translateX(-300px);
    transition: transform ease-in-out 250ms;
    padding: 1rem;
  }

  &:hover {
    .description {
      transform: translateX(0);
    }
  }
}

.team-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  li {
    display: flex;
    flex-grow: 1;
    padding: 1rem;
    text-align: center;
    list-style: none;
    display: inline-block;
    border-bottom: 2px solid lightgray;
    cursor: pointer;
    &.active {
      border-bottom: 2px solid #E00000;
    }
  }
}

.tabs {
  display: flex;
  .tab {
    list-style: none;
    border-bottom: 2px solid lightgray;
    &.active {
      border-color: #E00000;
    }
    a {
      text-decoration: none;
      color: #1d2025;
    }
  }
}

ul.press {
  li {
    list-style: none;
    margin-top: 2rem;
  }
  .reference {
    margin-bottom: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .logo {
    width: 150px;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
  a {
    text-decoration: none;
    color: #1d2025;
    line-height: 2rem;
    &:hover {
      text-decoration: underline;
    }
  }
}
